<head>
  <title>Bowling Scorecard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../styles/bowling.css">
</head>
<body>
  <h1> Bowling Challenge </h1>


  <div id='score-buttons'>
  <button class="scores" id="scored-0">0</button>
  <button class="scores" id="scored-1">1</button>
  <button class="scores" id="scored-2">2</button>
  <button class="scores" id="scored-3">3</button>
  <button class="scores" id="scored-4">4</button>
  <button class="scores" id="scored-5">5</button>
  <button class="scores" id="scored-6">6</button>
  <button class="scores" id="scored-7">7</button>
  <button class="scores" id="scored-8">8</button>
  <button class="scores" id="scored-9">9</button>
  <button class="scores" id="scored-10">10</button>
</div>

  <div class="container">
  <table class="table-all hoverable">
    <thead>
      <tr class="light-grey">
        <th></th>
        <th>Frame 1</th>
        <th>Frame 2</th>
        <th>Frame 3</th>
        <th>Frame 4</th>
        <th>Frame 5</th>
        <th>Frame 6</th>
        <th>Frame 7</th>
        <th>Frame 8</th>
        <th>Frame 9</th>
        <th>Frame 10</th>
        <th>Total Points</th>
      </tr>
    </thead>
    <tr>
      <th>Turn 1</th>
      <th id="1-1"> </th>
      <th id="2-1"> </th>
      <th id="3-1"> </th>
      <th id="4-1"> </th>
      <th id="5-1"> </th>
      <th id="6-1"> </th>
      <th id="7-1"> </th>
      <th id="8-1"> </th>
      <th id="9-1"> </th>
      <th id="10-1"> </th>
      <th>100</th>
    </tr>
    <tr>
      <th>Turn 2</th>
      <th id="1-2"> </th>
      <th id="2-2"> </th>
      <th id="3-2"> </th>
      <th id="4-2"> </th>
      <th id="5-2"> </th>
      <th id="6-2"> </th>
      <th id="7-2"> </th>
      <th id="8-2"> </th>
      <th id="9-2"> </th>
      <th id="10-2"> </th>
    </tr>
    <tr>
      <th>Frame Score</th>
      <th id="score 1"> </th>
      <th id="score 2"> </th>
      <th id="score 3"> </th>
      <th id="score 4"> </th>
      <th id="score 5"> </th>
      <th id="score 6"> </th>
      <th id="score 7"> </th>
      <th id="score 8"> </th>
      <th id="score 9"> </th>
      <th id="score 10"> </th>
    </tr>
  </table>
</div>
<script src="../public/interface.js" type="text/javascript"></script>
<script src="../public/src/Bowling.js"></script>

</body>
